




/*slogan*/
.slogo
{
    margin-top: 100vh;
  /* max-width: 800px; /* Set the maximum width of the container to 800 pixels */
  /* width: 100%; */ 
  width: 100%;

  height: 60vh;
  /* height: auto; */
  padding: 30px 0;
  background: url(/Images/strawberry-field.jpg);
  position: relative;
  background-size: cover;
  background-attachment:scroll;
}

.slogan{
  height: 109%;
  /* height: auto; */
  background-color: rgba(0, 0, 0, 0.5);
  
}

.heading2 h1{
 
  padding-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  color: rgb(197, 219, 238);
  font-style: italic;
  font-weight: bolder;
  font-family:  "Roboto", sans-serif;;
}
.heading2 p{
  
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  color:rgb(197, 219, 238);
  font-family:  "Roboto", sans-serif;;
}
.heading2 .btn
{
 
   
  align-items: center;
  color:rgb(197, 219, 238);
  background-color: #24262b;
  font-size: 28px;
  text-transform: capitalize;
  border-radius: 5px;
  font-family:  "Roboto", sans-serif;;
}
.heading2 .btn:hover
{
  background-color: orangered;
}


/* footer */
footer{
    
    width: 100%;
    padding: 20px 0;
    background: #24262b;
}
.fter{
   
    flex-wrap: wrap;
    display: flex;

}
.s9{
    padding-left: 11%;
}
.s9 .logo{
    text-transform: uppercase;
    padding: 5px;
    color: rgb(197, 219, 238);
    font-size: 40px;
}
.s9  p{
  color: #bbbbbb;
    width: 30%;
    padding: 5px;
}
.social-icons {
    /* padding: 5px; */
    margin-right: 200px;
    /* font-size: 25px; */
    text-decoration: none;
    letter-spacing: 5px;
}
.fb:hover{
    opacity: 0.7;
}
.fa-facebook-f{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.5);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(197, 219, 238);
  transition: all 0.5s ease;
}
.fa-facebook-f:hover
{
  color: #24262b;
  background-color: #ffffff;
}
.fa-instagram{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.5);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.fa-instagram:hover
{
  color: #24262b;
  background-color: #ffffff;
}
.fa-twitter{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.5);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.fa-twitter:hover
{
  color: #24262b;
  background-color: #ffffff;
}
.fa-youtube{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.5);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.fa-youtube:hover
{
  color: #24262b;
  background-color: #ffffff;
}
.best-category{
    position: absolute;
    margin-left: 32%;
    margin-top: 5px;
}
.best-category h2{
    text-transform: capitalize;
    color: rgb(197, 219, 238);
    font-size: 25px;
}
.best-category li{
  text-transform: capitalize;
    margin-top: 9px;
    color: rgb(197, 219, 238);
    list-style-type: none;
}
.imp-links{
    position: absolute;
    margin-left: 50%;
    margin-top: 5px;
}
.imp-links h2{
    text-transform: capitalize;
    color: rgb(197, 219, 238);
    font-size: 25px;
}
.imp-links li{
  text-transform: capitalize;
    margin-top: 9px;
    list-style-type: none;
}
.imp-links a{
  color: rgb(197, 219, 238);
  text-decoration: none;
}
.imp-links li a:hover
{
  color: #ffffff;
    text-decoration: underline;
}
.contact-us{
    position: absolute;
    margin-left: 70%;
    margin-top: 5px;
}
.contact-us h2{
    text-transform: capitalize;
    color: rgb(197, 219, 238);
    font-size: 25px;
}
.contact-us li span{
    font-weight: bold;
}
.contact-us li{
    margin-top: 9px;
    color: rgb(197, 219, 238);
    list-style-type: none;
}
.copy {
    max-width: 100%;
    margin-left: 10%;
    margin-right: 12%;
}
.copy hr{
    margin-top: 5px;
}
.copy span{
  color: yellowgreen;
    font-weight: 600;
}
.copy p{
    text-align: center;
    text-transform: capitalize;
    margin-top: 5px;
    color:rgb(197, 219, 238);
}