.reviews{
    width: 100%;
    height: auto;
    padding-top: 25%;
    padding-bottom: 10px;
}
.reviews h1{
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    margin-top: 20%;
}
.reviews .review-box{
    width: 95%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews .review-box .review-card{
    width: 400px;
    height: 335px;
    box-shadow: 0 0 8px green;
    padding: 15px;
    margin: 0 12px;
    transition: 0.3s;
}
.reviews .review-box .review-card:hover{
    transform: scale(.9);
}
.reviews .review-box .review-card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #eaeaea;
}
.reviews .review-box .review-card .card-top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.reviews .review-box .review-card .cardr p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 22px;   
}
.reviews .review-box .review-card .cardr .review-icon i{
    font-size: 16px;
    float: left;
    margin-top: 20px;
    color: yellowgreen;
    padding: 0 1px;
}




/* Reviews Tag */
.reviews-tag{
    width: 100%;
    height: auto;
}
.reviews-tag h1{
    text-transform: capitalize;
    text-align: left;
    margin-left: 45px;
    font-size: 50px;
    margin-top: 6%;
    margin-bottom: 30px;
}
.reviews-tag .review-box{
    width: 95%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews-tag .review-box .review-card{
    width: 400px;
    height: 335px;
    box-shadow: 0 0 8px yellowgreen;
    padding: 15px;
    margin: 0 12px;
    transition: 0.3s;
}
.reviews-tag .review-box .review-card:hover{
    transform: scale(.9);
}
.reviews-tag .review-box .review-card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #eaeaea;
}
.reviews-tag .review-box .review-card .card-top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.reviews-tag .review-box .review-card .cardr p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 22px;   
}
.reviews-tag .review-box .review-card .cardr .review-icon i{
    font-size: 16px;
    float: left;
    margin-top: 20px;
    color: yellowgreen;
    padding: 0 1px;
}






